<div>
<<<<<<< HEAD
  <p>The date is <%=@date.strftime("%A, %B %e, %Y")%></p>
=======
  <h1>Today</h1>
  <p>The date is <%=Date.now.strftime("%A")
>>>>>>> 98038f015e64b1602a624fc8b480fab4fe482228
</div>
